* {
    native: true;
}

.button {
    background-color: none;
}

.textfield {
    width: auto;
    height: auto;
}

.numberstepper {
    width: 70px;
    height: 23px;
}

.textarea {
    width: auto;
    height: 100px;
}

.horizontal-slider {
    width: auto;
    height: 23px;
    background-color: none;
}

.vertical-slider {
    width: 23px;
    height: 100px;
}

.horizontal-progress {
    width: auto;
    height: 15px;
}

.vertical-progress {
    width: 15px;
    height: 100px;
}
